<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <%= image_tag(ad.logo_url, width: 300, height: 200) %>
        <div class="caption">
            <h3 class='ads-title'><%= ad.name %></h3>
            <p class='musted ads-slogan'><%= ad.slogan %></p>
            <div class='ads-contact'>
                <% #TODO: Make a helper to this [horror here!] %>
                <%= "#{ad.address.street}, #{ad.address.city.name}, #{ad.address.city.state.name}" if ad.address %>
            </div>
            <p class='ads-description'><%= strip_tags(ad.description[0..60]) %>...</p>
            <p>
                <%= link_to "Ver mais", ad_url(ad), class: 'btn btn-primary', role: 'button' %> 
                <%= 
                    link_to( 
                        'Editar', 
                        edit_category_ad_path(ad.category, ad), 
                        class: 'btn btn-danger' 
                    ) if is_admin_or_owner?(ad)
                %>                
            </p>
        </div>
    </div>
</div>