<h3>Seus anúncios</h3>
<ul class='list-style-none'>
<% user.ads.each do |ad| # showing ads %>
  <li>
    <div class='well'>
    <h3><%= link_to ad.name, ad_url(ad) %></h3>
   
    <% unless ad.payments.empty? # If user paid %>
      <p class='lead'>
        <%= 'Este anúncio está expirado' if ad.payments.last.status === -1 %>
      </p>
      <% if ad.payments.last.status.nil? %>
          <h4>Este pagamento não foi finalizado, tente pagar novamente</h4>
          <%= 
            link_to 'Clique aqui para realizar um pagamento', new_category_ad_payment_path(ad.category_id, ad), class: 'btn btn-success' 
          %>            
      <% elsif ad.payments.last.status.zero? %>
          <h4>Seu pagamento ainda está sendo processado, logo seu anúncio estará visível :)</h4> 
      <% else %>
        <h4>A data de expiração do pagamento é <%= ad.payments.last.expires_at %></h4>
      <% end %>     

    <% else  # If user doesn't paid %>
      <p class='lead'>
        <%= 'Você ainda não realizou um pagamento para este anúncio' %>
      </p>

      <%= link_to 'Clique aqui para realizar um pagamento', new_category_ad_payment_path(ad.category_id, ad), class: 'btn btn-success' %>

    <% end # else %>  

       <%= link_to( 
          'Apagar', 
          category_ad_path(ad.category, ad), 
          class: 'btn btn-danger', 
          data: { confirm: 'Tem certeza? (apagar é irreversível!)' }, 
          method: 'delete' 
      ) %>

       <%= link_to( 
          'Editar', 
          edit_category_ad_path(ad.category, ad), 
          class: 'btn btn-info'
      ) %>      
         
    </div>
  </li>
<% end # each %>
</ul>