<%= cloudinary_js_config %>
<div>
<%= form_for([@category, @ad]) do |f| %>

  <% if @ad.errors.any? %>
    <div id="error_explanation" style='display: none'>
      <ul class='table table-striped'>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <script type="text/javascript">
    $(function(){
      Modal
        .header('<%= @ad.errors.count %> erro(s) não permitiram você de salvar o anúncio:')
        .body($('#error_explanation').clone().show(), 'html')
        .show()
    });
    </script>
  <% end %>

  <div class='tabs'>
    <ul id='tab-menu' class='nav nav-tabs'>
      <li class='active'>
        <a href="#ad-setup" data-toggle='tab'>Criar anúncio</a>
      </li>  
    </ul>

    <div class='tab-content'>
      <div id='ad-setup' class="tab-pane fade active in">
        <% if is_admin? %>
         <div class="field">
          <%= f.label "expira em (meses)" %> 
          <%= f.date_field :expires_at, placeholder: '12' %>
        </div> 
        <% end %>

        <% unless params[:category_id] %>
          <div class="field">
            <%= f.label :categoria %> <br>
            <%= f.select :category_id, Category.all.collect {|c| c[:name] } %> 
          </div>
        <% else %>
        <%= f.hidden_field :category_id %>
        <% end %>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class='field'>
          <h3>Envie uma logo</h3>
          <div id='preview'></div>
          <%= cl_image_upload_tag(:'ad[logo_url]') %>
        </div>

        <div class='form-group'>
          <%= f.text_field :name, placeholder: 'Seu negócio', class: 'input-lg' %>
        </div>
        
        <div class='form-group'>
          <%= f.text_field :slogan, placeholder: 'Seu slogan', class: 'input-lg' %>
        </div>

        <div class="field">
          <%= f.label :"site" %> 
          <small>Se não tiver um, é só deixar em branco</small><br>
          <%= f.url_field :site_url, placeholder: 'http://exemplo.com', class: 'input-lg' %>
        </div>  

        <div class='address'>
        <% unless @ad.address %>
          <div class='bg-warning'>Por favor, defina os dados de contato</div>
          <% new_address = Address.create(ad_id: @ad.id) %>
        <% end %>
          <%= f.fields_for :address do |a| %>
            <%= a.hidden_field :id %>
            <%= a.text_field :street, class:'input-lg', placeholder: 'Rua/Av.' %><br>
            <%= a.text_field :zipcode, class:'input-lg', placeholder: 'CEP' %><br>
            <%= a.text_field :neighbourhood, class:'input-lg', placeholder: 'Bairro' %><br>
            <%= a.text_field :complement, class:'input-lg', placeholder: 'Complemento' %><br>

            <div class='row'>
              <%= a.text_field :phone_area_code, class:'input-lg', placeholder: '00', maxlength: 2 %>
              <%= a.number_field :phone_number, class:'input-lg', placeholder: '9999-9999', maxlength: 9 %>
            </div>

            <%= a.collection_select(:state_id, State.all, :id, :name, class: 'form-control') %>
            <div id='ad-city'></div>
            <script type="text/x-tmpl" id='city-select-tmpl'>
              <select id='ad_address_attributes_city_id' name='ad[address_attributes][city_id]' class='form-control'>
                {% $.each(o.cities, function( i, city ){ %}
                  <option value="{%= city.id %}">{%= city.name %}</option>
                {% }); %}
              </select>
            </script>
            <script type="text/javascript">
              var stateSelect = $('#ad_address_attributes_state_id');
              stateSelect.change(function(){
                var stateID = $(this).val(); 
                City.get_by_state(stateID, function( cities ){
                  var citiesSelect = tmpl('city-select-tmpl', {cities: cities});
                  $('#ad-city').html(citiesSelect);
                });
              });
            </script>
          <% end %>
        </div>  

        <div class='well'>
          <h1>Coloque na caixa abaixo as informações sobre sua loja/serviço</h1>
        </div>   

        <div class="field"> 
          <%= f.text_area :description, rows: 15, style: 'width: 100%'%>
        </div>

        <div class="actions">
          <%= f.submit :class => 'btn btn-lg btn-success', value: 'Salvar' %>
        </div>

        </div>
      </div>

    </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $(function(){
    $('.cloudinary-fileupload')
      .bind('fileuploadprogress', function(e, data){
        var percent = data.loaded/data.total; 
        NProgress.set( percent );
      })
      .bind('fileuploadsend', function(){ 
        NProgress.start(); 
        $('input[name=commit]').addClass('disabled').val('Espere a logo ser enviada...')
      })
      .bind('fileuploaddone', function(e, data){
        NProgress.done();
        $('input[name=commit]').removeClass('disabled').val('Criar anúncio');
        $('input[name*=logo_url]').val(data.result.public_id + '.' + data.result.format);

        $('#preview').html(
          $.cloudinary.image(data.result.public_id, 
              { format: data.result.format, version: data.result.version, 
                crop: 'fill', width: 150, height: 100 })
        );         
      })
      .bind('fileuploadfail', function(){
        NProgress.done();
        $('input[name=commit]').val('Erro ao enviar a logo')

        Modal
          .header('<h1>Falha ao fazer upload da logo!</h1>', 'html')
          .body('<p>Tente novamente.</p>', 'html')
          .footer('');
      });


      $('input[type!=submit], select').addClass('form-control');

      function loadLogoPreview( imageID, format ){
        $('#preview').html(
          $.cloudinary.image(imageID, { 
              format: format, 
              crop: 'fill', 
              width: 150, 
              height: 100 
          });        
      }
  })
</script>