<h1>Editar anúncio</h1>

<% if !@ad.hidden? or admin_or_owner?(@ad) %>
    <%= render 'form' %>
<% else %>
    <h1><%= current_user.name %>, seu anúncio está congelado</h1>
    <p class='lead'>Se isso está acontecendo é porque seu pagamento expirou.<br>
    Mas não esquente, você pode pagar mais aqui <%= 'link' %>
    </p>
<% end %>

<%= link_to 'Ver este anúncio', category_ad_path(@ad.category, @ad) %> |
<%= link_to 'Ver todos os anúncios', ads_path(@category) %>
