<h1>Novo anúncio</h1>
<p class='lead muted'>Criando anúncio na categoria <%= content_tag :span, @category.name %></p>

<% if user_signed_in? %>
    <%= render 'form' %>
<% else %>
    <h1>Você não pode anunciar.</h1>
<% end %>
