<h2><%= @ad.name %></h2>
<% unless @ad.hidden? %>
    <%= render 'ads/show/show' %>  
<% else %>
    <p class='lead'>Ops! <%= current_user.name %>, você precisa renovar ou criar um novo pagamento para que este anúncio possa ser visto.</p>
    <p><%= link_to 'Clique aqui para realizar um novo pagmento', new_category_ad_payment_path(@ad.category, @ad) %></p>
<% end %>