<div class='well'>
	<h2>Login</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<div>
			<%= f.email_field :email, autofocus: true, class: 'input-lg', placeholder: 'email' %>
		</div>
		<div>
	  		<%= f.password_field :password, class: 'input-lg', placeholder: 'senha' %>
		</div>

		<div>
			<%= f.submit "Entrar", :class => 'btn btn-success' %>
			<%= link_to 'Esqueci minha senha', new_password_path(:user), class: 'btn btn-default' %>
		</div>
	<% end %>
</div>