/*!
 * Mercury Editor is a Coffeescript and jQuery based WYSIWYG editor.  Documentation and other useful information can be
 * found at https://github.com/jejacks0n/mercury
 *
 * Copyright (c) 2011 Jeremy Jackson
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
 * rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
 * persons to whom the Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
 * OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *


 */


/*










 */

/*
 * General Layout
 *---------------------------------------------------------------------------*/

/* Disable text sizing in webkit (ipad/iphone etc -- should apply to mercury only) */

html {
  -webkit-text-size-adjust: none;
}

html, body {
  -webkit-transition: -webkit-transform 3s;
  margin: 0;
  padding: 0;
}

.mercury-iframe {
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.mercury-focusable {
  position: absolute;
  opacity: 0;
}

.filter {
  margin: 0;
  padding: 0;
}
/*
 * Bootsrap Overrides (overrides what's in bootstrap-ish)
 *---------------------------------------------------------------------------*/

.btn-group > .btn {
  margin-right: 0;
}
form {
  margin-bottom: 0;
}
fieldset {
  margin-bottom: 15px;
  background: #F6F6F6;
  border: 1px solid #CCC;
  border-radius: 7px;
  padding: 10px;
}
legend {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: bold;
  width: auto;
  padding: 0;
  font-size: 12px;
  color: #333333;
  border: 0;
  line-height: 1px;
}
select {
  width: auto;
}
.form-actions {
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
}
.control-group {
  margin-bottom: 0;
}
legend + .control-group {
  margin-top: 0;
  -webkit-margin-top-collapse: separate;
}
.form-horizontal .control-group {
  margin-bottom: 0;
}
.form-horizontal .controls {
  margin-left: 150px;
}
.form-horizontal hr {
  margin-left: 150px;
  border: 0;
  border-top: 1px solid #ccc;
}
label input[type=radio] {
  margin-right: 5px;
}
.form-actions {
  padding-bottom: 0;
}
/*
 * Dialogs
 *----------------------------------------------------------------------------*/

.mercury-dialog,
.mercury-select,
.mercury-palette {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 10012;
  width: 30px;
  height: 30px;
  border: 1px solid #727272;
  border-radius: 2px;
  -moz-border-radius: 2px;
  margin-top: -1px;
  background-color: #FFFFFF;
	box-shadow: 1px 1px 4px rgba(0,0,0, .5);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0, .5);
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 8.5pt;
  color: #333;
}
.mercury-dialog.loading,
.mercury-select.loading,
.mercury-palette.loading {
  background-repeat: no-repeat;
  background-position: center;
}
/*
 * Selects
 *----------------------------------------------------------------------------*/
.mercury-select {
  border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: auto;
  background-color: #FFF;
}
/*
 * Panels
 *----------------------------------------------------------------------------*/
.mercury-panel {
  position: fixed;
  z-index: 10011;
  background-color: #f5f5f5;
  opacity: .9;
  box-shadow: 1px 1px 4px rgba(0,0,0, .5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0, .5);
  border-radius: 6px;
  -moz-border-radius: 6px;
  color: #333;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 9.5pt;
  max-width: 500px;
}
.mercury-panel.loading {
  background-repeat: no-repeat;
  background-position: center;
}
.mercury-panel h1,
.mercury-panel h3 {
  font-size: 9pt;
  padding: 10px 15px 8px;
  margin: 0;
  background: #333;
  white-space: nowrap;
  line-height: normal;
}
.mercury-panel h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #f5f5f5;
  font-size: 10pt;
  text-shadow: 1px 1px 2px rgba(0,0,0, .9);
  border-bottom: 1px solid #222;
  height: 15px;
  cursor: move;
}
.mercury-panel h1 span {
  display: block;
  width: 100%;
}
.mercury-panel h1 a.mercury-panel-close {
  position: absolute;
  right: -5px;
  top: -4px;
  width: 42px;
  height: 42px;
  cursor: default;
  background-repeat: no-repeat;
  background-position: center;
}
.mercury-panel h4,
.mercury-panel h5,
.mercury-panel h6 {
  margin: 0;
}
.mercury-panel .mercury-panel-pane {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.mercury-panel .mercury-panel-pane h3 {
  margin: 10px -15px;
  font-size: 9.5pt;
  font-weight: normal;
  padding: 8px 14px;
}
/*
 * Specific Dialogs (eg. color palettes, selects)
 *----------------------------------------------------------------------------*/
.mercury-color-picker {
  width: 170px;
  height: auto;
  padding: 1px;
  cursor: default;
}
.mercury-color-picker .picker {
  float: left;
  width: 15px;
  height: 15px;
  margin: 1px;
}
.mercury-color-picker .picker:hover {
  outline: 1px solid #333;
}
.mercury-color-picker .last-picked {
  position: relative;
  top: 1px;
  width: 166px;
  border: 1px solid #333;
  border-radius: 2px;
  margin: 1px 1px 2px 1px;
  -moz-border-radius: 2px;
  clear: left;
  text-align: center;
}
.mercury-select-options {
  margin: 10px 0;
  white-space: nowrap;
}
.mercury-select-options * {
  cursor: default;
  padding: 0 10px;
  margin: 0;
  line-height: 1.6em;
}
.mercury-select-options div:hover,
.mercury-select-options h1:hover,
.mercury-select-options h2:hover,
.mercury-select-options h3:hover,
.mercury-select-options h4:hover,
.mercury-select-options h5:hover,
.mercury-select-options h6:hover,
.mercury-select-options pre:hover {
  background-color: #E2E1E2 !important;
  color: #000 !important;
}
.mercury-select-options div[data-tag=pre] {
  font-family: monospace;
}
/*
 * Specific Panels (eg. snippets, notes, todos)
 *----------------------------------------------------------------------------*/
.mercury-snippet-panel {
  width: 300px;
}
.mercury-snippet-panel input.filter {
  outline: none;
  font-size: 1em;
  border-radius: 30px;
  moz-border-radius: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-left: 20px;
  background-color: #FFF;
  background-repeat: no-repeat;
}
.mercury-snippet-panel ul {
  font-size: .9em;
  padding: 10px 0 0 0;
  margin: 0;
  list-style-type: none;
}
.mercury-snippet-panel ul li {
  clear: both;
  padding-top: 20px;
}
.mercury-snippet-panel ul li img {
  float: left;
  cursor: move;
}
.mercury-snippet-panel ul li h4,
.mercury-snippet-panel ul li .description {
  float: right;
  width: 245px;
}
.mercury-snippet-panel ul li h4 {
  margin-bottom: 5px;
}
/* history / notes */
.mercury-history-panel,
.mercury-notes-panel {
  width: 250px;
}
/*
 * Lightview
 *----------------------------------------------------------------------------*/

.mercury-lightview-overlay {
  position: fixed;
  z-index: 10030;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  background: rgba(255, 255, 255, .8);
}
.mercury-lightview {
  position: fixed;
  z-index: 10040;
  top: 20px;
  background: rgba(239, 239, 239, .7);
  opacity: 0;
  overflow: hidden;
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  font: normal normal normal 12px/normal Helvetica, Tahoma, Arial, sans-serif;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
}
.mercury-lightview.loading {
  background-repeat: no-repeat;
  background-position: center;
}
.mercury-lightview .mercury-lightview-content {
  padding: 10px 20px 20px;
}
.mercury-lightview h1.mercury-lightview-title {
  margin: 0;
  padding: 10px 20px 8px;
  border-bottom: 1px solid #CCC;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 10pt;
  white-space: nowrap;
  text-shadow: 1px 1px 2px rgba(100, 100, 100, .5);
}
.mercury-lightview h1.mercury-lightview-title a.mercury-lightview-close {
  float: right;
  width: 32px;
  height: 42px;
  margin: -14px -20px;
  background-repeat: no-repeat;
  background-position: center;
}
.mercury-lightview .mercury-display-pane-container {
  overflow: auto;
  margin: -10px -20px 0;
  padding: 20px 20px 10px;
}
.mercury-lightview .mercury-display-pane-container .mercury-display-pane {
  float: left;
}
.mercury-lightview .mercury-display-controls {
  padding: 15px 0 0;
  border-top: 1px solid #333;
  text-align: right;
}
/*
 * Specific Lightviews
 *----------------------------------------------------------------------------*/
/* about mercury */
#mercury_about {
  width: 300px;
  min-height: 100px;
  font-size: 1.1em;
  background-repeat: no-repeat;
}
#mercury_about ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 118px 0 0 0;
  width: 120px;
  text-align: center;
}
#mercury_about p {
  margin: 0;
  float: right;
  width: 175px;
}
#mercury_about a {
  color: #09F;
}
#mercury_about a:hover {
  color: #333;
}
/*
 * Modal
 *----------------------------------------------------------------------------*/

.mercury-modal-overlay {
  position: fixed;
  z-index: 10040;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  background: rgba(255, 255, 255, .8);
}
.mercury-modal {
  position: fixed;
  z-index: 10050;
  top: 0;
  width: 500px;
  overflow: hidden;
  padding: 0 0 10px;
  background: #EFEFEF;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  font: normal normal normal 12px/normal Helvetica, Tahoma, Arial, sans-serif;
}
.mercury-modal.loading .mercury-modal-content-container {
  background-color: #EFEFEF;
  background-repeat: no-repeat;
  background-position: center;
}
.mercury-modal h1.mercury-modal-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0;
  padding: 2px 10px 0 10px;
  background: #DDD;
  border-bottom: 1px solid #CCC;
  white-space: nowrap;
  font-size: 14px;
  line-height: 23px;
  overflow: hidden;
}
.mercury-modal h1.mercury-modal-title:after {
  content: '\00a0';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.mercury-modal h1.mercury-modal-title span {
  float: left;
  color: #000;
  text-shadow: #EEE 1px 1px 0;
}
.mercury-modal h1.mercury-modal-title a {
  display: block;
  float: right;
  font-size: 10px;
  cursor: pointer;
  color: #666;
  padding: 0 4px;
  line-height: 23px;
}
.mercury-modal h1.mercury-modal-title a:hover {
  color: #333;
}
.mercury-modal .mercury-modal-content-container {
  float: left;
  width: 100%;
}
.mercury-modal .mercury-modal-content {
  position: relative;
  overflow: auto;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px 20px 10px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  color: #000;
}
.mercury-modal .mercury-modal-content:after {
  display: block;
  clear: both;
  content: '\00a0';
  visibility: hidden;
  overflow: hidden;
  height: 0;
}
.mercury-modal .mercury-display-pane-container {
  overflow: auto;
  margin: -20px -20px 0;
  padding: 20px 20px 0;
}
.mercury-modal .mercury-display-pane-container .mercury-display-pane {
  float: left;
}
.mercury-modal .mercury-display-controls {
  padding-right: 0;
  border-top: 1px solid #CCC;
  text-align: right;
}
/*
 * Specific Modals (eg. htmlEditor)
 *----------------------------------------------------------------------------*/
/* html editor */
#mercury_html_editor textarea {
  resize: none;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0 0 -2px 0;
  border: 2px solid #CCC;
  width: 100%;
}
/* character */
#mercury_character .character {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  background: #FFF;
  margin: 0 2px 2px 0;
  text-align: center;
  font-size: 11pt;
  line-height: 23px;
  cursor: pointer;
}
#mercury_character .character:hover {
  position: relative;
  margin: -11px -5px 1px -5px;
  width: 32px;
  height: 32px;
  font-size: 19pt;
  line-height: 35px;
  background: #DDD;
}
/* table */
#mercury_table #table_display {
  float: left;
  margin-right: 13px;
  overflow: auto;
  padding: 0;
}
#mercury_table #table_display .controls {
  margin: 0;
  width: 225px;
  height: 259px;
  padding: 10px;
}
#mercury_table #table_display table {
  width: 100%;
  height: 100%;
}
#mercury_table #table_display .selected {
  background: #09F;
}
/*
 * Statusbar
 *----------------------------------------------------------------------------*/

.mercury-statusbar {
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 10020;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  cursor: default;
  padding: 0 10px;
  background: #E2E1E2;
  border-top: 1px solid #727272;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 8.5pt;
  line-height: 23px;
  color: #222;
}
.mercury-statusbar .mercury-statusbar-about {
  display: block;
  float: right;
  color: #333;
  text-shadow: #EEE 0 1px 0;
  text-decoration: none;
}
/*
 * Toolbar
 *----------------------------------------------------------------------------*/

.mercury-toolbar-container {
  user-select: none;
  position: fixed;
  z-index: 10010;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #E2E1E2;
}
.mercury-toolbar {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #DDD;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(198,198,198)), color-stop(1, rgb(226,225,226)));
  background-image: -moz-linear-gradient(center bottom, rgb(198,198,198) 0%, rgb(226,225,226) 100%);
  border-bottom: 1px solid #727272;
  cursor: default;
}
.mercury-toolbar-button-container {
  float: left;
}
.mercury-toolbar-expander {
  position: absolute;
  display: none;
  right: 0;
  border-left: 1px solid #727272;
}
.mercury-button,
.mercury-button-group,
.mercury-separator,
.mercury-line-separator {
  display: block;
  float: left;
}
.mercury-separator,
.mercury-line-separator {
  width: 1px;
  border: 0;
  margin: 0;
}
.mercury-line-separator {
  width: 1px;
  background: #727272;
}
.mercury-button {
  cursor: pointer;
}
.mercury-button em {
  display: block;
  font-style: normal;
}
.mercury-expander {
  padding: 5px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
.mercury-expander .mercury-expander-button {
  cursor: default;
  white-space: nowrap;
  padding: 0 20px 0 10px;
}
.mercury-expander .mercury-expander-button:hover {
  background: #CCC;
}
.mercury-expander .mercury-expander-button em {
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.mercury-expander .mercury-expander-button span {
  display: inline-block;
  line-height: 20px;
}
.disabled .mercury-button,
.mercury-button.disabled {
  opacity: 0.33;
}
/*
 * Toolbar: Primary Toolbar
 *----------------------------------------------------------------------------*/
.mercury-primary-toolbar {
  position: relative;
  height: 58px;
  overflow: hidden;
  text-shadow: #EEE 0 1px 0;
}
.mercury-primary-toolbar .mercury-button {
  display: inline-block;
  height: 58px;
  margin-bottom: 20px;
  min-width: 55px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
}
.mercury-primary-toolbar .mercury-button.pressed {
  background-repeat: no-repeat;
}
.mercury-primary-toolbar .mercury-button em {
  margin: 0 -5px;
  height: 15px;
  padding-top: 41px;
  background-repeat: no-repeat;
  background-position: 50% 7px;
  font-size: 8.5pt;
  line-height: 15px;
  color: #222;
}
.mercury-primary-toolbar .mercury-button.active em {
  background-position: 51% 8px;
}

.mercury-primary-toolbar .mercury-separator,
.mercury-primary-toolbar .mercury-line-separator {
  display: inline-block;
  width: 1px;
  height: 50px;
  margin: 5px 20px 28px;
}
.mercury-primary-toolbar .mercury-toolbar-button-container {
  white-space: nowrap;
  padding-right: 10px;
}
.mercury-primary-toolbar .mercury-toolbar-expander {
  width: 12px;
  height: 58px;
  background-color: rgba(0, 0, 0, .2);
  background-repeat: no-repeat;
}
/*
 * Toolbar: Editable Region Toolbar
 *----------------------------------------------------------------------------*/
.mercury-editable-toolbar {
  padding: 3px 13px 1px 10px;
  border-top: 1px solid #E2E1E2;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(198,198,198)), color-stop(1, rgb(210,210,209)));
  background-image: -moz-linear-gradient(center bottom, rgb(198,198,198) 0%, rgb(210,210,209) 100%);
}
.mercury-editable-toolbar:after {
  content: '\00a0';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.mercury-editable-toolbar .mercury-separator,
.mercury-editable-toolbar .mercury-line-separator {
  height: 18px;
  padding: 0;
  margin: 0 7px 2px;
}
.mercury-editable-toolbar .mercury-separator {
  margin: 0 3px 2px;
}
.mercury-editable-toolbar .mercury-button-group {
  white-space: nowrap;
}
.mercury-editable-toolbar .mercury-button-group .mercury-button:first-child {
  width: 23px;
}
.mercury-editable-toolbar .mercury-button {
  width: 22px;
  height: 18px;
  margin: 0 0 2px;
}
.mercury-editable-toolbar .mercury-button em {
  display: none;
}
.mercury-editable-toolbar .mercury-button-palette {
  width: 23px;
  background-position: 0 -36px;
}
.mercury-editable-toolbar .mercury-button-select {
  width: auto !important;
  overflow: hidden;
  padding-left: 6px;
  background-position: -24px -36px;
}
.mercury-editable-toolbar .mercury-button-select em {
  display: block;
  padding-right: 15px;
  background-position: right -36px;
  cursor: pointer;
  white-space: nowrap;
  font-style: normal;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 8.5pt;
  line-height: 19px;
  color: #222;
}
/* default buttons */
.mercury-editable-toolbar .mercury-bold-button                       { background-position: 0 0 }
.mercury-editable-toolbar .mercury-bold-button.active                { background-position: 0 -18px }
.mercury-editable-toolbar .mercury-italic-button                     { background-position: -23px 0 }
.mercury-editable-toolbar .mercury-italic-button.active              { background-position: -23px -18px }
.mercury-editable-toolbar .mercury-overline-button                   { background-position: -45px 0 }
.mercury-editable-toolbar .mercury-overline-button.active            { background-position: -45px -18px }
.mercury-editable-toolbar .mercury-strikethrough-button              { background-position: -67px 0 }
.mercury-editable-toolbar .mercury-strikethrough-button.active       { background-position: -67px -18px }
.mercury-editable-toolbar .mercury-underline-button                  { background-position: -89px 0 }
.mercury-editable-toolbar .mercury-underline-button.active           { background-position: -89px -18px }
.mercury-editable-toolbar .mercury-subscript-button                  { background-position: -112px 0 }
.mercury-editable-toolbar .mercury-subscript-button.active           { background-position: -112px -18px }
.mercury-editable-toolbar .mercury-superscript-button                { background-position: -135px 0 }
.mercury-editable-toolbar .mercury-superscript-button.active         { background-position: -135px -18px }
.mercury-editable-toolbar .mercury-justifyLeft-button                { background-position: -158px 0 }
.mercury-editable-toolbar .mercury-justifyLeft-button.active         { background-position: -158px -18px }
.mercury-editable-toolbar .mercury-justifyCenter-button              { background-position: -181px 0 }
.mercury-editable-toolbar .mercury-justifyCenter-button.active       { background-position: -181px -18px }
.mercury-editable-toolbar .mercury-justifyRight-button               { background-position: -203px 0 }
.mercury-editable-toolbar .mercury-justifyRight-button.active        { background-position: -203px -18px }
.mercury-editable-toolbar .mercury-justifyFull-button                { background-position: -225px 0 }
.mercury-editable-toolbar .mercury-justifyFull-button.active         { background-position: -225px -18px }
.mercury-editable-toolbar .mercury-insertUnorderedList-button        { background-position: -248px 0 }
.mercury-editable-toolbar .mercury-insertUnorderedList-button.active { background-position: -248px -18px }
.mercury-editable-toolbar .mercury-insertOrderedList-button          { background-position: -271px 0 }
.mercury-editable-toolbar .mercury-insertOrderedList-button.active   { background-position: -271px -18px }
.mercury-editable-toolbar .mercury-outdent-button                    { background-position: -294px 0 }
.mercury-editable-toolbar .mercury-outdent-button.active             { background-position: -294px -18px }
.mercury-editable-toolbar .mercury-indent-button                     { background-position: -317px 0 }
.mercury-editable-toolbar .mercury-indent-button.active              { background-position: -317px -18px }
.mercury-editable-toolbar .mercury-insertRowBefore-button            { background-position: -340px 0 }
.mercury-editable-toolbar .mercury-insertRowBefore-button.active     { background-position: -340px -18px }
.mercury-editable-toolbar .mercury-insertRowAfter-button             { background-position: -363px 0 }
.mercury-editable-toolbar .mercury-insertRowAfter-button.active      { background-position: -363px -18px }
.mercury-editable-toolbar .mercury-deleteRow-button                  { background-position: -385px 0 }
.mercury-editable-toolbar .mercury-deleteRow-button.active           { background-position: -385px -18px }
.mercury-editable-toolbar .mercury-insertColumnBefore-button         { background-position: -407px 0 }
.mercury-editable-toolbar .mercury-insertColumnBefore-button.active  { background-position: -407px -18px }
.mercury-editable-toolbar .mercury-insertColumnAfter-button          { background-position: -429px 0 }
.mercury-editable-toolbar .mercury-insertColumnAfter-button.active   { background-position: -429px -18px }
.mercury-editable-toolbar .mercury-deleteColumn-button               { background-position: -451px 0 }
.mercury-editable-toolbar .mercury-deleteColumn-button.active        { background-position: -451px -18px }
.mercury-editable-toolbar .mercury-increaseColspan-button            { background-position: -474px 0; width: 23px }
.mercury-editable-toolbar .mercury-increaseColspan-button.active     { background-position: -474px -18px }
.mercury-editable-toolbar .mercury-decreaseColspan-button            { background-position: -497px 0 }
.mercury-editable-toolbar .mercury-decreaseColspan-button.active     { background-position: -497px -18px }
.mercury-editable-toolbar .mercury-increaseRowspan-button            { background-position: -520px 0 }
.mercury-editable-toolbar .mercury-increaseRowspan-button.active     { background-position: -520px -18px }
.mercury-editable-toolbar .mercury-decreaseRowspan-button            { background-position: -542px 0 }
.mercury-editable-toolbar .mercury-decreaseRowspan-button.active     { background-position: -542px -18px }
.mercury-editable-toolbar .mercury-horizontalRule-button             { background-position: -564px 0 }
.mercury-editable-toolbar .mercury-horizontalRule-button.active      { background-position: -564px -18px }
.mercury-editable-toolbar .mercury-removeFormatting-button           { background-position: -588px 0 }
.mercury-editable-toolbar .mercury-removeFormatting-button.active    { background-position: -588px -18px }
.mercury-editable-toolbar .mercury-htmlEditor-button                 { background-position: -612px 0 }
.mercury-editable-toolbar .mercury-htmlEditor-button.active          { background-position: -612px -18px }
/*
 * Toolbar: Snippets Region Toolbar
 *----------------------------------------------------------------------------*/
.mercury-snippet-toolbar {
  position: absolute;
  top: 100px;
  left: 15px;
  border: 1px solid #727272;
  border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  padding: 3px 7px 1px 7px;
}
.mercury-snippet-toolbar:after {
  content: '\00a0';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
.mercury-snippet-toolbar .mercury-separator,
.mercury-snippet-toolbar .mercury-line-separator {
  height: 18px;
  padding: 0;
  margin: 0 7px 2px;
}
.mercury-snippet-toolbar .mercury-separator {
  margin: 0 3px 2px;
}
.mercury-snippet-toolbar .mercury-button-group {
  white-space: nowrap;
}
.mercury-snippet-toolbar .mercury-button-group .mercury-button:first-child {
  width: 23px;
}
.mercury-snippet-toolbar .mercury-button {
  width: 23px;
  height: 18px;
  margin: 0 0 2px;
}
.mercury-snippet-toolbar .mercury-button em {
  display: none;
}
/* default buttons */
.mercury-snippet-toolbar .mercury-editSnippet-button                { background-position: -24px 0 }
.mercury-snippet-toolbar .mercury-editSnippet-button.active         { background-position: -24px -18px }
.mercury-snippet-toolbar .mercury-removeSnippet-button              { background-position: -48px 0 }
.mercury-snippet-toolbar .mercury-removeSnippet-button.active       { background-position: -48px -18px }
.mercury-snippet-toolbar .mercury-dragsnippet-button                { background-position: -72px 0 }
.mercury-snippet-toolbar .mercury-dragsnippet-button.active         { background-position: -72px -18px }
/*
 * Tooltip
 *----------------------------------------------------------------------------*/

.mercury-tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  max-width: 400px;
  overflow: hidden;
  background: rgba(0, 0, 0, .70);
  padding: 2px 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  font: normal normal normal 11px/normal Helvetica, Tahoma, Arial, sans-serif;
  color: #EEE;
  word-wrap: break-word;
}
.mercury-tooltip a {
  color: #EEE;
  text-decoration: none;
}
.mercury-tooltip a:hover {
  color: #FFF;
}
/*
 * Uploader
 *----------------------------------------------------------------------------*/

[draggable=true] {
  -khtml-user-drag: element;
}
.mercury-uploader-overlay {
  position: absolute;
  z-index: 10040;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .95;
  background: rgba(255, 255, 255, .8);
}
.mercury-uploader {
  position: absolute;
  z-index: 10050;
  top: 300px;
  left: 400px;
  width: 500px;
  height: 150px;
  overflow: hidden;
  padding: 15px;
  background: rgba(239, 239, 239, .70);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  box-shadow: 0 0 40px rgba(0, 0, 0, .9);
  font: normal normal normal 12px/normal Helvetica, Tahoma, Arial, sans-serif;
  color: #000;
}
.mercury-uploader .mercury-uploader-preview {
  float: left;
  width: 150px;
  height: 150px;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.mercury-uploader .mercury-uploader-preview b {
  display: table-cell;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
}
.mercury-uploader .mercury-uploader-preview img {
  margin: 5px;
  max-width: 140px;
  max-height: 140px;
}
.mercury-uploader .mercury-uploader-details {
  width: 333px;
  overflow: hidden;
  float: left;
  padding-left: 15px;
}
.mercury-uploader .mercury-uploader-details span {
  color: #F00;
}
.mercury-uploader .mercury-uploader-progress {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 333px;
}
.mercury-uploader .mercury-uploader-progress div.mercury-uploader-indicator {
  width: 100%;
  height: 30px;
  margin: 5px 0 0;
  position: relative;
  border-radius: 35px;
  -moz-border-radius: 35px;
  background-color: #BABABA;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #C7C7C7), color-stop(1, #B0B0B0));
  background: -moz-linear-gradient(#B0B0B0 0%, #C7C7C7 100%);
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0, 0.5), 0 1px 0 0 rgba(255,255,255, 0.3);
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0,0,0, 0.5), 0 1px 0 0 rgba(255,255,255, 0.3);
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0, 0.5), 0 1px 0 0 rgba(255,255,255, 0.3);
}
.mercury-uploader .mercury-uploader-progress div.mercury-uploader-indicator div {
  min-width: 28px;
  position: relative;
  overflow: hidden;
  height: 28px;
  border-radius: 35px;
  width: 0;
  -moz-border-radius: 35px;
  -webkit-animation: animate-stripes 2s linear infinite;
  -webkit-background-size: 44px 44px;
  background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0.00, rgba(255,255,255, 0.17)), color-stop(0.25, rgba(255,255,255, 0.17)), color-stop(0.26, rgba(255,255,255, 0)), color-stop(0.50, rgba(255,255,255, 0)), color-stop(0.51, rgba(255,255,255, 0.17)), color-stop(0.75, rgba(255,255,255, 0.17)), color-stop(0.76, rgba(255,255,255, 0)), color-stop(1.00, rgba(255,255,255, 0))),
              -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255,255,255, 0.1)), color-stop(1, rgba(255,255,255, 0.37)));
  background: -moz-repeating-linear-gradient(top left -30deg, rgba(255,255,255, 0.17), rgba(255,255,255, 0.17) 15px, rgba(255,255,255, 0) 15px, rgba(255,255,255, 0) 30px),
              -moz-linear-gradient(rgba(255,255,255, 0.1) 0%, rgba(255,255,255, 0.37) 100%);
  background-color: #09F;
  border: 1px solid #0083DA;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.4), inset 0 -1px 1px rgba(0,0,0, 0.2);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.4), inset 0 -1px 1px rgba(0,0,0, 0.2);
}
.mercury-uploader .mercury-uploader-progress div.mercury-uploader-indicator div b {
  display: none;
  position: absolute;
  right: 0;
  line-height: 28px;
  padding-right: 12px;
  color: rgba(0, 0, 0, .6);
  text-shadow: rgba(255, 255, 255, 0.45) 0 1px 0px;
  white-space: nowrap;
}
/*
 * mercury.css
 *----------------------------------------------------------------------------*/

form fieldset.buttons .commit input {
  background-image: url(/assets/mercury/button.png);
}
/*
 * dialog.css
 *----------------------------------------------------------------------------*/
.mercury-dialog.loading,
.mercury-select.loading,
.mercury-palette.loading {
  background-image: url(/assets/mercury/loading-light.gif);
}
.mercury-panel.loading {
  background-image: url(/assets/mercury/loading-dark.gif);
}
.mercury-panel h1 a.mercury-panel-close {
  background-image: url(/assets/mercury/close.png);
}
.mercury-snippet-panel input.filter {
  background-image: url(/assets/mercury/search-icon.png);
  background-position: 4px center;
}
/*
 * lightview.css
 *----------------------------------------------------------------------------*/
.mercury-lightview.loading {
  background-image: url(/assets/mercury/loading-dark.gif);
}
.mercury-lightview h1.mercury-lightview-title a.mercury-lightview-close {
  background-image: url(/assets/mercury/close.png);
}
#mercury_about {
  background-image: url(/assets/mercury/temp-logo.png);
  background-position: 0 0;
}
/*
 * modal.css
 *----------------------------------------------------------------------------*/
.mercury-modal.loading .mercury-modal-content-container {
  background-image: url(/assets/mercury/loading-light.gif);
}
/*
 * toolbar.css
 *----------------------------------------------------------------------------*/
.mercury-primary-toolbar .mercury-button.pressed {
  background-image: url(/assets/mercury/toolbar/primary/_pressed.png);
  background-position: top center;
}
.mercury-primary-toolbar .mercury-toolbar-expander {
  background-image: url(/assets/mercury/toolbar/primary/_expander.png);
  background-position: center 90%;
}
.mercury-primary-toolbar .mercury-save-button em,
.mercury-expander-button[data-button=save] em             { background-image: url(/assets/mercury/toolbar/primary/save.png) }
.mercury-primary-toolbar .mercury-preview-button em,
.mercury-expander-button[data-button=preview] em          { background-image: url(/assets/mercury/toolbar/primary/preview.png) }
.mercury-primary-toolbar .mercury-undo-button em,
.mercury-expander-button[data-button=undo] em             { background-image: url(/assets/mercury/toolbar/primary/undo.png) }
.mercury-primary-toolbar .mercury-redo-button em,
.mercury-expander-button[data-button=redo] em             { background-image: url(/assets/mercury/toolbar/primary/redo.png) }
.mercury-primary-toolbar .mercury-insertLink-button em,
.mercury-expander-button[data-button=insertLink] em       { background-image: url(/assets/mercury/toolbar/primary/insertlink.png) }
.mercury-primary-toolbar .mercury-insertMedia-button em,
.mercury-expander-button[data-button=insertMedia] em      { background-image: url(/assets/mercury/toolbar/primary/insertmedia.png) }
.mercury-primary-toolbar .mercury-insertTable-button em,
.mercury-expander-button[data-button=insertTable] em      { background-image: url(/assets/mercury/toolbar/primary/inserttable.png) }
.mercury-primary-toolbar .mercury-insertCharacter-button em,
.mercury-expander-button[data-button=insertCharacter] em  { background-image: url(/assets/mercury/toolbar/primary/insertcharacter.png) }
.mercury-primary-toolbar .mercury-snippetPanel-button em,
.mercury-expander-button[data-button=snippetPanel] em     { background-image: url(/assets/mercury/toolbar/primary/snippetpanel.png) }
.mercury-primary-toolbar .mercury-historyPanel-button em,
.mercury-expander-button[data-button=historyPanel] em     { background-image: url(/assets/mercury/toolbar/primary/historypanel.png) }
.mercury-primary-toolbar .mercury-notesPanel-button em,
.mercury-expander-button[data-button=notesPanel] em       { background-image: url(/assets/mercury/toolbar/primary/notespanel.png) }
.mercury-primary-toolbar .mercury-userPanel-button em,
.mercury-expander-button[data-button=userPanel] em        { background-image: url(/assets/mercury/toolbar/primary/user.png) }
.mercury-primary-toolbar .mercury-toolsPanel-button em,
.mercury-expander-button[data-button=toolsPanel] em       { background-image: url(/assets/mercury/toolbar/primary/tools.png) }
.mercury-editable-toolbar .mercury-button {
  background-image: url(/assets/mercury/toolbar/editable/buttons.png);
}
.mercury-editable-toolbar .mercury-button em {
  background-image: url(/assets/mercury/toolbar/editable/buttons.png);
}

.mercury-snippet-toolbar .mercury-button {
  background-image: url(/assets/mercury/toolbar/snippets/buttons.png);
}
.mercury-snippet-toolbar .mercury-button em {
  background-image: url(/assets/mercury/toolbar/snippets/buttons.png);
}
