<!DOCTYPE html>
<html>
<head>
  <title>Catala</title>
  <meta charset='utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="lojas, onde comprar, catalogo, agua branca, piaui" /> 
  <meta property="fb:admins" content="grubens1"/>
  <meta property="og:type" content="site"/>
  <meta property='og:title' content='Catala | Mais que um catálogo'/>
  <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel='shortcut icon' href='<%= asset_path('favicon.png') %>'>
</head>
<body>
    <div class='modal fade' id='main-modal' role='dialog' aria-hidden="true" aria-labelledby="myModalLabel">
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id='myModalLabel'></h4>
          </div>
          <div class='modal-body'>

          </div>
          <div class='modal-footer'>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
    $(function(){
      <% if notice %>
        Modal.dialog.alert("<%= notice %>")
      <% elsif alert %>
        Modal.dialog.alert("<%= alert %>");
      <% end %>
    });
    </script>

    <div id='back-top'>
        <div class='container header'>
            <div id='top-bar'>
                <ul class='nav nav-pills pull-right'>
                    <li class='active'><a href='#'>Início</a></li>
                    <li><%= link_to 'Explorar', categories_path %></li>
                    <li><a href='#'>Como funciona</a></li>
                    <li><a href='#'>Participe</a></li>
                    <li><a href='#'>Contato</a></li>
                    <li><a href='/users/sign_in'>Entrar</a></li>
                    <li><a href='/users/sign_up'>Criar uma conta</a></li>
                </ul>
                <%= image_tag 'logo.png', alt: 'Logo do Catala', class: 'logo' %>
            </div>
            <hr>
        </div>
    </div>

    <div id='welcome' class='jumbotron'>
        <h1 class='title'>O que você procura?</h1>
        <p class='lead'>Chega de listas telefônicas, catálogos, pesquisas demoradas, encontre aqui o que você procura.</p>
        <div class='search'>
            <input type='text' class='input-search' data-toggle='popover' data-placement='bottom' data-content='Digite aqui'/>
            <button class='btn-search'>Procurar</button>
        </div>
    </div>

    <div id='lastest'>
        <h1 class='title'>#OsMaisProcurados</h1>

        <div class='ads'>
            <% ads = Ad.all.where('hidden = false').last(4) %>
            <div class='row'>    
                <% ads.each do |ad| %>
                   <%= render 'ads/ad_mini', ad: ad %>
                <% end %>
            </div>
        </div>
    </div>        

    <div id="fb-root"></div>
    <div class='well'>
      <div class="fb-like" data-href="http://catala.com.br" data-width="450" data-show-faces="true" data-send="true"></div>
    </div>

    <script type='text/javascript'>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-44008860-1', 'catala.com.br');
      ga('send', 'pageview');
    
    </script>    
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=358540094266384";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>    
</body>
</html>
    