<%=
# Admin options
edit_lnk = ''
delete_lnk = ''

edit_lnk = link_to( 
    'Editar', 
    edit_category_ad_path(@ad.category, @ad), 
    class: 'btn btn-info' 
) if is_admin_or_owner?(@ad) 

delete_lnk = link_to( 
    'Deletar', 
    category_ad_path(@ad.category, @ad), 
    class: 'btn btn-danger', 
    confirm: 'Tem certeza?', 
    method: 'delete' 
) if is_admin?

raw '<br>' + edit_lnk + ' ' + delete_lnk 
%>