<h2>Produtos/Serviços oferecidos (<%= @ad.products.size %>)</h2>

<div class='well'>
<ul>
<% @ad.products.each do |product| %>
    <li>
        <div class='well'>
            <h3><%= product.name %> <small>R$<%= product.price %></small></h3>
            <p class='lead'><%= product.description %></p></li>
        </div>
<% end %>
</ul>
</div>