<p class='lead muted'>
  <%= render 'ads/show/contact_info' %>
  <%= render 'ads/show/action_btns' %>

  <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="<%= request.original_url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" fb-xfbml-state="rendered"></div>
</p>

<div class='well ad-content'>
  <p id="notice label label-warn"><%= notice %></p>
  
  <p class='lead'>
    <%= @ad.category.name %>
  </p>
  
  <div class='ad-description'>
      <p>
        <%= raw @ad.description %>
      </p>
  </div>
  
</div>

<%= render 'ads/show/products' unless @ad.products.empty? %>

<!--  <div class='well text-center'>
  <div class="fb-comments" data-href="<%= request.original_url %>" data-width="470" mobile='auto-detect'></div>
</div> -->

<div class='well'>
<div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'catala'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</spa</div>  