
<h2>Os dados de pagamento estão errados <small>se tiver dúvidas nos contate</small></h2>
<% unless @reponse.nil? %>
    <ul>
        <% @response.errors.each do |error| %>
        <li><p class='lead'><%= error%><p></li> 
        <% end %>
    </ul>
    <p> <%= @response.inspect %> </p>
<% end %>

<h2>Oops! <small>Você esqueceu de algo</small></h2>
<ul>
    <% @payment.errors.full_messages.each do |error| %>
    	<li><p class='lead'><%= error%><p></li>  
    <% end %>
</ul>