<h1>Compre os meses de anúncio</h1>
<p class='lead'>Logo seus clientes poderão saber mais sobre seu serviço. 
<br>A qualquer hora, e a qualquer lugar. É isso ai, sr.(a) Empreendedor(a)! :D</p>


<div class='text-center'>
    <%= form_for( @payment, url: {action: 'create'} ) do |f| %>
       <% if @payment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@payment.errors.count, "error") %> e você não terminou a compra</h2>
    
          <ul>
          <% @payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :"insira o número de meses que o anúncio ficará no Catala" %> 
        <%= f.number_field :paid_months, min: 1, autofocus: true %>
        <p class='lead muted'>R$<%= price_per_month %>/mês</p>
        <p id='total_amount' class='lead muted'></p>
      </div>
      
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :ad_id, value: @ad.id %>
      
       <div class="field">
        <%= f.submit "Pagar", class: 'btn btn-success btn-large' %>
      </div>     
    <% end %>
</div>

<script type='text/javascript'>
    $('#payment_paid_months').bind('change', function(){
        var val = parseInt($(this).val()) || 1, pricePerMonth = <%= price_per_month %>;

        if( val < 1 )
            $( $(this).val(1) );
    
        $('#total_amount').text('Você pagará R$ ' + (pricePerMonth*val) );
    })    
</script>
