<h1>Seu pagamento está agora aguardando a confirmação</h1>
<p>Após recebermos a confirmação do seu pagamento, você poderar personalizar seu anúncio.</p>

<p class='info'>Código do pagamento <%= @payment.id %></p>