<h2>Mudar senha</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :senha, "Nova senha" %><br />
  <%= f.password_field :password, :autofocus => true %></div>

  <div><%= f.label :password_confirmation, "Confirmar nova senha" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Mudar senha" %></div>
<% end %>

<%= render "users/shared/links" %>
