

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<div class='well'>
	<h2>Informe seu email</h2>
		<%= devise_error_messages! %>

		<%= f.email_field :email, :autofocus => true, class:'input-lg', placeholder: 'email' %>
	</div>

  <div>
  	<%= f.submit "Enviar instruções de recuperação de senha", class:'btn btn-default' %>
  </div>
<% end %>