<div class='address well'>
  <h4>Dados de contato e endereço</h4>
<% unless current_user.address %>
  <div class='warn'>Por favor, defina seus dados de contato</div>
  <% new_address = Address.create(user_id: current_user.id) %>
<% end %>
  <%= f.fields_for :address do |a| %>
    <%= a.hidden_field :id %>
    <%= a.text_field :street, class:'input-lg', placeholder: 'Rua/Av.' %><br>
    <%= a.text_field :zipcode, class:'input-lg', placeholder: 'CEP' %><br>
    <%= a.text_field :neighbourhood, class:'input-lg', placeholder: 'Bairro' %><br>
    <%= a.text_field :complement, class:'input-lg', placeholder: 'Complemento' %><br>
    <%= a.text_field :phone_area_code, class:'input-lg', placeholder: '(99)' %>
    <%= a.number_field :phone_number, class:'input-lg', placeholder: '9999-9999' %><br>
    <%= a.collection_select(:state_id, State.all, :id, :name) %>
    <div id='user-city'></div>
    <script type="text/x-tmpl" id='city-select-tmpl'>
      <select id='user_address_attributes_city_id' name='user[address_attributes][city_id]' class='form-control'>
        {% $.each(o.cities, function( i, city ){ %}
          <option value="{%= city.id %}">{%= city.name %}</option>
        {% }); %}
      </select>
    </script>
    <script type="text/javascript">
      var stateSelect = $('#user_address_attributes_state_id');
      stateSelect.bind('click change', function(){
        var stateID = $(this).val(); 
        City.get_by_state(stateID, function( cities ){
          var citiesSelect = tmpl('city-select-tmpl', {cities: cities});
          $('#user-city').html(citiesSelect);
        });  
      });

      
      if( stateSelect.val() ){
        stateSelect.trigger('click');
      }
    </script>
  <% end %>
</div>  