<div class='well'>
    <h1>Olá mestre!</h1>
    <p><%= link_to 'Ver pagamentos', '#', class: 'btn btn-info' %></p>
    <h2>Sobre o Catala</h2>
    <p class='lead'>No momento, o Catala tem <%= pluralize(Ad.all.where('hidden = true').size, 'anuncio frizado')%>
    de um total de <%= pluralize( Ad.all.size, 'anuncio' ) %>
    </p>
    <p class='lead'>O Catala também está com <%= pluralize(User.all.size, 'usuário cadastrado') %>

    e um total de R$ <%= Payment.all.where(status: 1).sum(:amount) %> ganho 
    (R$ <%= Payment.all.where(status: 0).sum(:amount) %> para receber)
    </p>
</div>