<div class='well'>
<h2>Editar perfil</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <div>
    <%= f.email_field :email, :autofocus => true, class:'input-lg', placeholder: 'Email' %>
  </div>
  <div>
    <%= f.text_field :name, class:'input-lg', placeholder: 'Nome' %>
  </div>
  <%= render 'users/registrations/painel/address', current_user: current_user, f: f %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aguardando confirmação do email: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :senha_atual %> <i>(nós precisamos da sua senha atual para realizar as mudanças)</i><br />
  <%= f.password_field :current_password, required: true, class:'input-lg' %></div>

  <div><%= f.submit "Salvar", :class => 'btn btn-success btn-large' %></div>
  <script type="text/javascript">
  $('#edit_user input:submit').click(function(e){
    e.preventDefault();
    var data = $('#edit_user').serialize(),
        action = $('#edit_user').attr('action');
    if( $('#user_current_password').val() === '' ){
      Modal.dialog.alert('Insira sua senha atual!');
      return;
    }
    var that = $(this).addClass('disabled').val('Processando...');
    $.post( action, $('#edit_user').serialize(), function( response ){
      console.log(response);

      that.removeClass('disabled').val('Salvo!');
    });
  });
  </script>
<% end %>
</div>