<div class='well'>
<% if user.ads.empty? # If user has no ads %>

    <h1>Essa não, <%= user.name %>! Você ainda não criou nenhum anúncio. </h1>    
    <p class='alert'><%= link_to "Clique aqui, escolha uma categoria e anúncie já", categories_path, class: 'btn btn-success btn-lg' %></p>

<% else %>
  <%= render 'ads/ad_panel', user: user %>
<% end %> 
</div>