@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

form {
	font-family: "Open Sans", Helvetica, Helvetica Neue, Arial;

	div {
		color: #888;

		label {
			font-size: 1.5em;
			font-weight: 100;
		}

		margin: 5px;
	}
}