body { background: #eee }

#back-top {
    width:100%;
    background: asset-url('back-top.jpg') no-repeat top center fixed;
}

#top-bar { 
    padding-top:5px; 
    .nav {
        a {
            background: #fff;
            border-radius:0
        }
    }
}
#top-bar .logo { width:200px }
#top-bar .nav .active a {
    background:#ff4900;
    color:#fff;
}

#top-bar .header hr { border-color:#ff4900 }
#top-bar .nav li a { color:#ff4900 }

#welcome {
    background:none;
    padding-top: 15px;
}
#welcome .title, #welcome .lead {
    color:#fff;
    line-height: 1;
    text-align:center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

#welcome .title {
    font-weight: bold;
    font-size: 4.7em;
}
#welcome .lead {
    font-size: 1.5em;
}
#welcome .search {
    width:100%;
    padding: 0;
}
#welcome .search .input-search, #welcome .search .btn-search {
    font-size: 1.9em;
    border:none;
    border-radius:0;
    margin:0;
}
#welcome .search .input-search {
    background:/* #eee */ rgba(255,255,255,0.6);
    color:#444;
    width:80%;
    padding-left:10px;
}
#welcome .search .btn-search {
    background: /* #222 */ #ff4900;
    color:#fff;
    width:19%;
}
#welcome .search button:active {
    background:#ff4900;
    color:#000;
}

/* Últimos Anúncios */

#lastest { background:#ff4900 }
#lastest > .title {
    margin:0;
    padding:20px;
    line-height: 1;
    font-weight: bold;
    font-size: 3.3em;
    background:#222;
    color:#fff;
    border-bottom:solid 5px #820;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075)
}
#lastest .row { margin:10px 0 0 0 }
#lastest .ads {
    background:#fff;
    color:#000;
}
#lastest .ads .ad-image {
    width:100%;
}
#lastest .ads .ad-title {
    margin:0;
    padding-left: 10px;
    border-left: solid 2px #ff4900;
}
#lastest .ads .ad-description { padding:0 15px }

#main-slide .carousel-inner { padding-top:10px }