<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>Opa! <%= pluralize(@category.errors.count, "error") %> foram comitidos no formulário</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success'  %>
  </div>
<% end %>
