<div class='row-fluid categories-list'>
    <h1>Todas as categorias no Catala</h1>
    
    <style type='text/css'>
        .list-cats {
            font-size: 1.5em;
            font-family: 'Raleway', sans-serif;
            list-style: none;
        }
        
        .list-cats li {
            padding: 1.5em 0;
            border-top: 1px #ccc solid;
            border-bottom: 1px #ccc solid;
        }
        
        .list-cats i {
            padding: 20px;
            background-color: #ccc;
            color: #fff;
            transition: background-color 0.2s;
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2;
        }
        
        .list-cats i:hover { background-color: #4bf }
    </style>
    <ul class='style-none list-cats'>
        <% @categories.each_with_index do |cat,i| %>
        <li>
            <i><%= cat.ads.where(hidden: false).size %></i>
            <%= link_to cat[:name], cat %>
            <% if user_signed_in? %>
                | <%= link_to 'Criar anuncio nesta categoria', new_category_ad_path(cat.slug), class: 'btn btn-success' %>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>