    <h1><%= @category.name %></h1>
    
    <% ads = @category.ads.where('hidden = false') %>
    <p class='lead muted'>
        <%= pluralize(ads.size, 'anúncio') %> nesta categoria
    </p>

    <% if is_admin? %>
       <%= link_to 'Editar categoria', edit_category_path(@category), class: 'btn btn-danger' %>
    <% end %>
    <% if user_signed_in? %>
       <%= link_to 'Criar novo anúncio nesta categoria', new_category_ad_path(@category), class: 'btn btn-success' %>
    <% end %>
       
    <% if is_admin? and @category.ads.size > 0 %>
        <p class='lead muted'>
        <%= pluralize(@category.ads.where('hidden = true').size, 'anuncio frizado') %> nesta categoria também
        </p>
    <% end %>

    <div class='row'>
      <% ads.each do |ad, i| %>
            <%= render 'ads/ad_mini', ad: ad %>
      <% end %>
    </div>
