<div id='ad-products-setup'>
  <script type="text/x-tmpl">
    <div class='ad-product-form well'>
      <input type='file' name='user[product][][image]'><br> 
      <input type='text' name='user[product][][name]' placeholder='Nome do produto'>
      <input type='text' name='user[product][][price]'  placeholder='Preço'>
      <input type='text' name='user[product][][description]'  placeholder='Descrição rápida'>
    </div>
  </script>
  <div>
    <h2>Adicionar produtos ao anúncio</h2>
    <div class='ad-product-form well'>
      <%= form_tag('/image_uploader', method: :post) do %>
        <%= cl_image_upload_tag(:'product[]image_id') %>
      <input type='text' name='product[][name]' placeholder='Nome do produto'>
      <input type='text' name='product[][price]'  placeholder='Preço'>
      <input type='text' name='product[][description]'  placeholder='Descrição rápida'>             
      <% end %>
    </div>
</div>