<!DOCTYPE html>
<html>
<head>
  <title>Catala</title>
  <meta charset='utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="lojas, onde comprar, catalogo, agua branca, piaui" /> 
  <meta property="fb:admins" content="grubens1"/>
  <meta property="og:type" content="site"/>
  <meta property='og:title' content='Catala | Mais que um catálogo'/>
  <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    Category.categories = <%= raw Category.all.to_json %>;
  </script>
  <link rel='shortcut icon' href='<%= asset_path('favicon.png') %>'>
</head>
<body>

<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" class='modal-close-btn'>Fechar</button>
        <button type="button" class="btn btn-primary" class='modal-save-btn'>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <div class='container'>
    <div id='menu'>
      <ul class='nav nav-pills'>

        <li><%= link_to 'Catala', '/' %></li>
        <% cats ||= Category.all.first(7) %>
        <% cats.each do |cat| %>
          <li><%= link_to cat[:name], cat %></li>
        <% end %>
          <li class='active'><%= link_to 'Mostrar tudo', '/categories' %></li>
        <% unless user_signed_in? %>
          <li class='active'>
            <%= link_to 'Entrar', new_session_path(:user) %>
          </li>
        <% else %>
          <li class='active'>
            <%= link_to 'Sair', destroy_session_path(:user), method: :delete %>
          </li>
          <li class='active'>
            <%= link_to 'Minha conta', edit_user_registration_path %>
          </li>
        <% end %>
        <% if is_admin? %>
          <li><%= link_to 'Criar nova', new_category_path %></li>
        <% end %>        
      </ul>
    </div>
  </div>

  <div class='container'>
    <%= raw bAlert(notice, 'info') if notice %>
    <%= raw bAlert(alert, 'danger') if alert %>
    
    <%= yield %>

  </div>
  
    <script type='text/javascript'>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-44008860-1', 'catala.com.br');
      ga('send', 'pageview');
    
    </script>    
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=358540094266384";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>    
</body>
</html>
