<div class='text-center' style='padding-top: 15px'>
	<% unless current_user.ads.empty? %>
		<div class='well'>
		  <%=
		  	link_to 'Clique aqui para criar um anúncio', categories_path, class: 'btn btn-success btn-lg'  
		  %>
		</div>	
	<% end %>

	<% user = current_user # creating a shortcut %>
	<div class='row'>
		<div class='col-md-6'>
			<% if !user.admin? # Simple user panel %>
			  <%= render 'users/registrations/painel/user', user: user %>
			<% else # Admin panel %> 
			  <%= render 'users/registrations/painel/admin', user: user %>
			<% end %>
		</div>
		<div class='col-md-6'>
			<%= render 'users/registrations/painel/edit', user: user %>
		</div>
	</div>
</div>

<script type="text/javascript">
$('input[type!=submit], select').addClass('form-control');
</script>