<div class='well'>

    <h2>Em alguns instantes você fará parte do Catala</h2>
    <hr>
     <%= devise_error_messages! %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div>
        <%= f.text_field :name, :autofocus => true, :required => true, placeholder:'Nome' %>
      </div>

      <div>
       <%= f.text_field :cnpj, :required => true, placeholder: 'CPF ou CNPJ' %>
      </div>
    
      <div>
        <%= f.email_field :email, :required => true, placeholder: 'Email' %>
      </div>

      <div>
        <%= f.password_field :password, :required => true, placeholder: 'Senha' %>
      </div>

      <div><%= f.password_field :password_confirmation, :required => true, placeholder: 'Confirme a senha' %></div>      
      <div><%= f.submit 'Pronto!', :class => 'btn btn-success btn-large' %></div>
    <% end %>
    <script type="text/javascript">
      $('input').addClass('input-lg')
    </script>

</div>
